* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    font-family: 'Poppins', sans-serif;
}

nav{
    height: 70px;
    display: flex;
    /* background-color: blue; */
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
}

.nav-logo {  
    display: block; 
    max-width: 100%;
}

.hero-header {
    margin-bottom: 16px;
}

.hero-text {
    margin-top: 0;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-photo {
    max-width: 400px;
    align-self: center;
}

.section {
    /* padding: 0px 80px; */
    padding: 20px;
}

 /* .hero-section {
    display: flex;
    align-items: center;
    height: 450px;
    padding: 40px; */
    /*for not picture
     flex-direction:column;
} 

.heroes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 400px;
    position: relative;
    margin-top:40px;

}

.hero-grid{
    display: block;
}

 .hero1 {
    position: absolute;
    top: 16.9%;
    width: 16%;
    left: 7%;
    border-radius: 15px;
}

.hero2 {
    position: absolute;
    top: 4.32%;
    width: 16%;
    left: 24.5%;
    border-radius: 15px;
}

.hero3 {
    position: absolute;
    top: 35%;
    width: 16%;
    left: 24.5%;
    border-radius: 15px;
}

.hero4 {
    position: absolute;
    top: 8%;
    width: 16%;
    left: 42%;
    border-radius: 15px;
}

.hero5 {
    position: absolute;
    top: 54%;
    width: 16%;
    left: 42%;
    border-radius: 15px;
}

.hero6 {
    position: absolute;
    top: 1%;
    width: 16%;
    right: 24.5%;
    border-radius: 15px;
}

.hero7 {
    position: absolute;
    top: 48%;
    width: 16%;
    right: 24.5%;
    border-radius: 15px;
}

.hero8 {
    position: absolute;
    top: 8%;
    width: 16%;
    right: 7%;
    border-radius: 15px;
}

.hero9 {
    position: absolute;
    top: 55%;
    width: 16%;
    right: 7%;
    border-radius: 15px;
}  */


/* .hero1:hover, .hero2:hover, .hero3:hover, .hero4:hover, .hero5:hover, .hero6:hover, .hero7:hover, .hero8:hover, .hero9:hover {
    transform: scale(1.2);
    transition: transform;
    transition-duration: 1s;
    transition-property: all;
} */
/* .col-1, .col-2, .col-3, .col-4,.col-5 {
    width: 20%;
    border: 1px solid black;
}

.col-1 {
    display:flex;
    align-items: center;
} */


@media(max-width:600px) {
    .section {
        padding: 0px 10px;
    }

    .hero-section {
        height: unset;
    }
    .heroes {
        width: 100%;
        height: 200px;
    }
    
}